{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>teste</title>
</head>
<body>

<table style="width: 70%; margin: auto;">
                            <tr>
                                <th>ID: </th>
                                <th>{{busca.id}}</th>
                            </tr>
                            <tr>
                                <th>Nome:</th>
                                <th>{{busca.nome}}</th>
                            </tr>
                            <tr>
                                <th>Idade:</th>
                                <th>{{busca.idade}}</th>
                            </tr>
                            <tr>
                                <th>Endereço: </th>
                                <th>{{busca.endereco}}</th>
                            </tr>
                            <tr>
                                <th>Data de Registro: </th>
                                <th>{{busca.data}}</th>
                            </tr>
                            <tr>
                                <th>Sexo: </th>
                                <th>{{busca.sexo}}</th>
                            </tr>
                            <tr>
                                <th>Naturalidade: </th>
                                <th>{{busca2.naturalidade}}</th>

                            </tr>
                            <tr>
                                <th>Descrição de Origem:</th>
                                <th>{{busca2.descricao}}</th>
                            </tr>

                            <tr>
                                <th>Tempo de Rua: <i></i></th>
                                <th>{{busca2.tempRua}}</th>
                            </tr>
                            <tr>
                                <th>Porque:</th>
                                <th>{{busca2.porque}}</th>
                            </tr>
                            <tr>
                                <th>Residência:</th>
                                <th>{{busca2.residen}}</th>
                            </tr>
                            <tr>
                                <th>Local onde vive:</th>
                                <th>{{busca2.local}}</th>
                            </tr>
                            <tr >
                                <th>Possui documento: </th>
                                <th>{{busca2.documento}}</th>

                            </tr>
                            <tr>
                                <th>Quais documento: </th>
                                <th>{{busca2.documentos}}</th>
                            </tr>

                            <tr>
                                <th>Possui família: </th>
                                <th>{{busca2.familia}}</th>
                            </tr>
                            <tr>
                                <th>Onde moram:</th>
                                <th>{{busca2.ondeFami}}</th>
                            </tr>
                            <tr>
                                <th>Composta por:</th>
                                <th>{{busca2.composta}}</th>
                            </tr>
                            <tr>
                                <th>Outros da família:</th>
                                <th>{{busca2.outrosFami}}</th>
                            </tr>
                            <tr >
                                <th>Vacinado: <i></i></th>
                                <th>{{busca2.vacinado}}</th>
                            </tr>
                             <tr>
                                <th>Vacinas tomadas:</th>
                                <th>{{busca2.vacinas}}</th>
                            </tr>
                            <tr>
                                <th>Dose:</th>
                                <th>{{busca2.dose}}</th>
                            </tr>
                            <tr>
                                <th>Outras vacinas:</th>
                                <th>{{busca2.outrosVacina}}</th>
                            </tr>

                            <tr>
                                <th>Depedente: <i></i></th>
                                <th>{{busca2.dependente}}</th>
                            </tr>
                            <tr>
                                <th>Quais drogas:</th>
                                <th>{{busca2.drogas}}</th>
                            </tr>
                            <tr>
                                <th>Outras drogas:</th>
                                <th>{{busca2.outraDroga}}</th>
                            </tr>
                            <tr>
                                <th>Ja fez tratamento:</th>
                                <th>{{busca2.tratamento}}</th>
                            </tr>
                            <tr>
                                <th>Onde Trata: </th>
                                <th>{{busca2.ondeTrata}}</th>
                            </tr>
                            <tr >
                                <th>Possui doença: <i></i></th>
                                <th>{{busca2.doenca}}</th>
                            </tr>
                            <tr>
                                <th>Qual doença:</th>
                                <th>{{busca2.qualDoenca}}</th>
                            </tr>
                            <tr>
                                <th>Faz tratamento:</th>
                                <th>{{busca2.tratamentoDoenca}}</th>
                            </tr>
                            <tr>
                                <th>Onde se trata:</th>
                                <th>{{busca2.ondeTratamento}}</th>
                            </tr>
                            <tr>
                                <th>Possui Crença: <i></i></th>
                                <th>{{busca2.crenca}}</th>
                            </tr>
                            <tr>
                                <th>Qual religião: </th>
                                <th>{{busca2.religiosidade}}</th>
                            </tr>
                            <tr>
                                <th>Possui profissão: <i></i></th>
                                <th>{{busca2.profissao}}</th>
                            </tr>
                            <tr>
                                <th>Qual profissão:</th>
                                <th>{{busca2.qualProfi}}</th>
                            </tr>
                            <tr >
                                <th>Trabalha: <i></i></th>
                                <th>{{busca2.trabalha}}</th>
                            </tr>
                            <tr>
                                <th>Em que: </th>
                                <th>{{busca2.emque}}</th>
                            </tr>
                            <tr>
                                <th>Trabalhou: </th>
                                <th>{{busca2.trabalhou}}</th>
                            </tr>
                            <tr>
                                <th>Do que:</th>
                                <th>{{busca2.doque}}</th>
                            </tr>
                            <tr >
                                <th>Gostaria de aprender: <i></i></th>
                                <th>{{busca2.aprender}}</th>
                            </tr>
                            <tr>
                                <th>Possui Alfabetização: </th>
                                <th>{{busca2.alfabetisado}}</th>
                            </tr>
                            <tr>
                                <th>Grau escolaridade: </th>
                                <th>{{busca2.grau}}</th>
                            </tr>
                            <tr>
                                <th>Curso Profinalisante: </th>
                                <th>{{busca2.profissionalizante}}</th>
                            </tr>




                    </table>

</body>
</html>